server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
        - id: book-service
          uri: lb://book-service
          predicates:
            - Path=/api/books/**
        - id: emprunter-service
          uri: lb://emprunter-service
          predicates:
            - Path=/api/emprunts/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
